.hero {
	padding-top: 16px;
	margin-bottom: 60px;
}
.heroWrapper {
	display: flex;
	column-gap: 28px;
}
.imgWrapper {
	margin-top: 30px;
}
.img {
	width: 324px;
}
.slider__image {
	height: 260px;
	width: auto;
	margin: 0 auto;
}

.dots {
	position: absolute;
	bottom: 20px;
	& button {
		width: 13px;
		height: 13px;
		border-radius: 50%;
		background-color: #ffeaf1;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	}
}
.menu {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	flex-wrap: wrap;
	padding: 30px;
	color: #000000;
	background-color: #ffffff;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.07);
	border-radius: 20px;
	width: 234px;
}
.item {
	display: flex;
	column-gap: 10px;
	align-items: center;
}
.text {
	font-weight: 300;
	font-size: 15px;
	line-height: 17px;
}
.arrow {
	position: absolute;
	z-index: 100;
	background-color: #fff;
	border-radius: 50%;
	padding: 14px;
	width: 48px;
	height: 48px;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
	transition: all linear 250ms;

	&:hover,
	&:focus {
		background-color: #ffeaf1;
	}
}
.arrowImg {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.leftArrow {
	left: 5px;
}
.rightArrow {
	right: 5px;
}
@media screen and (min-width: 480px) {
	.slider__image {
		// width: 448px;
	}
}
@media screen and (min-width: 768px) {
	.slider__image {
		// width: 708px;
		height: 435px;
	}
	.leftArrow {
		left: 20px;
	}
	.rightArrow {
		right: 20px;
	}
}
@media screen and (min-width: 1000px) {
	.slider__image {
		// width: auto;
		height: 571px;
	}
}
@media screen and (min-width: 1290px) {
	.hero {
		margin-bottom: 80px;
	}

	.slider__image {
		// width: auto;
		height: 568px;
	}
	.leftArrow {
		left: 150px;
	}
	.rightArrow {
		right: 150px;
	}
}
