.address {
	padding: 30px;
	gap: 15px;

	width: 300px;
	left: calc(50% - 300px / 2 - 495px);
	top: 47.55%;
	bottom: 22.29%;

	background-color: #aa2b51;
	border-radius: 20px;
}
.list {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}
.phone {
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
	color: #ffffff;
}
.email {
	font-weight: 300;
	font-size: 15px;
	line-height: 17px;
	text-decoration-line: underline;
	color: #ffffff;
}
.geo {
	font-weight: 300;
	font-size: 15px;
	line-height: 17px;

	color: #ffffff;
}
